*{
  margin: 0;
  padding: 0;
  text-align: center;
  }
  
  input {
    width: 30%;
    padding:15px;
   margin: 1%;
   font-size: 18px;
   
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  textarea {
    width: 53%;
    padding:15px;
    height: 200px;
    box-sizing: border-box;
    border: 2px solid rgb(129, 129, 129);
    border-radius: 4px;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    resize: none;
  }

  h2 {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(213, 231, 255);
    padding: 1cm;
  }


   .container {
    margin: 0 auto;
     text-align: left;
   }

   
